<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>

<h1>Nombre</h1>
<input type="text" class="form-control" id="name" [(ngModel)]="username">
<button type="button" class="btn btn-primary" (click)="newUser(username)">Primary</button>

<h1>join</h1>

<button type="button" class="btn btn-primary" (click)="join()">Primary</button>

<div>
    <h1>Apuesta</h1>
  <input type="text" class="form-control" id="bet" [(ngModel)]="bet">
<button type="button" class="btn btn-primary" (click)="userBet(bet)">Apuesta</button>
</div>

<div>
    <h1>pregunta</h1>
  <input type="text" class="form-control" id="bet" [(ngModel)]="pregunta">
  <input type="text" class="form-control" id="bet" [(ngModel)]="time">
<button type="button" class="btn btn-primary" (click)="enviarRespuesta(pregunta, time)">respuesta</button>
</div>
